<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.mms.dao.MemberMapper">

	<insert id="insertMember" parameterType="Members">
		insert into members 
		values
		(
			#{userid},
			#{userpwd},
			#{username},
			#{gender},
			#{birth},
			#{phone},
			#{height},
			#{weight},
			#{address}
		)
	</insert>
	
	<select id="selectMember" resultType="Members">
		select 
			*  
		from 
			members 
		where 
			userid = #{userid}
		<if test="userpwd != null">
			and 
				userpwd = #{userpwd} 
		</if>
	</select>

	<update id="updateMember" parameterType="Members">
		update 
			members 
		set 
			userpwd = #{userpwd},
			username = #{username},
			gender = #{gender},
			birth = #{birth},
			phone = #{phone},
			height = #{height},
			weight = #{weight},
			address = #{address} 
		where 
			userid = #{userid} 
	</update>
	
	<select id="selectMemberInfo" parameterType="string" resultType="Members">
		select 
			* 
		from 
			members 
		where 
			userid = #{userid} 
	</select>
	
</mapper>